<div class="sidebar">
<div class="container-fluid" id="newsfeed">
    <div>
        <app-create-post></app-create-post>
    </div>
    <div>
        <h3>Display posts area</h3>
        <!-- Include display latest posts code here -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente magni error voluptatibus culpa atque fugit cumque, est fugiat. Ea nisi quasi amet officiis, quisquam perspiciatis inventore itaque vitae. Deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iste eaque voluptatum consectetur similique laboriosam, velit, natus, voluptatem atque inventore nostrum optio culpa dicta omnis! Earum, suscipit praesentium? Maiores, officia! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam illum repudiandae quasi blanditiis illo, id ratione natus ut nesciunt necessitatibus iure placeat cumque nemo quisquam a optio? Laboriosam, nihil et!</p>
    </div>
</div>
</div>