.sidebar {
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 1;
    right: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

