<app-sidebar></app-sidebar>

<div class="mainpage" id="friendslist">
  <div class="container-fluid">
      <div class="card float-right" style="width: 100%;">
          <div class="card-body">
            <a class="card-title"><h5>Friends</h5></a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let friend of friends">
              <div class="card" style="width: 40rem;">
                <img class="card-img-top" [src]="friend?.photo?.image != null ? 'data:image/png;base64,' + friend?.photo?.image : './assets/DefaultProfilePicture.jpg'" class="rounded-circle"  width="100" height="110">
                  <div class="card-body">
                    <h5 class="card-title" routerLink="/profile/{{friend.url}}" >{{friend.firstName}} {{friend.lastName}}</h5>
                    <a routerLink="/profile/{{friend.url}}" class="btn btn-primary" >Visit Profile</a>
                  </div>
                </div>
              </li>
          </ul>
      </div>
  </div>
</div>