<div>
    <app-sidebar></app-sidebar> 
    <div class="mainpage">
        <div class="card-group">
            <div class="card text-black border-0"  id="profileBackground">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="card-img-top" src={{photoSrc}} class="rounded-circle"  width="100" height="110">          
                            <i-bs name="camera-fill" height="25" width="25" (click)="open(content)" *ngIf="isOwnProfile"></i-bs>
                            <app-add-friend-button [friendshipStatus]="friendshipStatus"[friendRequest]="friendRequest" [friendId] = "user?.id" [callBack] ="addFriendCallBack.bind(this)" ></app-add-friend-button>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5><br>
                            <div class="row" *ngIf="isOwnProfile">
                                <i-bs name="pen-fill" height="18" width="18" class="col-sm-3" (click)="open(aboutMe)"></i-bs>
                                <h6 class="Card-text col-md-6" (click)="open(aboutMe)">About Me</h6> 
                            </div>
                            <div class="row" *ngIf="!isOwnProfile">
                                <h6 class="Card-text col-md-6">About Me</h6> 
                            </div>
                            <p *ngIf="isOwnProfile" (click)="open(aboutMe)">{{user.aboutMe}}</p>
                            <p *ngIf="!isOwnProfile">{{user.aboutMe}}</p>
                        </div>
                    </div> 
                </div>
            </div>        
            <div class="card text-black border-0" id="profileBackground">
                <div class="card-body">
                    <div class="row">
                        <i-bs name="pen-fill" height="18" width="18" class="col-sm-1"></i-bs>
                        <h5 class="card-title col-md-7">Profile Information</h5>
                    </div>
                    <ul class="list-unstyled card-text">
                        <li>Birth Date: {{formattedBirthday}}</li>
                        <li>Email: {{user.email}}</li>
                        <li>Gender: {{user.gender}}</li>
                        <li>Mobile Number: {{user.mobileNumber}}</li>
                    </ul>
                </div>
            </div>
            <div class="card text-black border-0"  id="profileBackground">
                <div class="card-body col-sm-12">
                    <i-bs name="pen-fill" height="18" width="18" routerLink="/albums/{{this.user.id}}" *ngIf="isOwnProfile"></i-bs>
                    <h5 class="card-title col-md-3" routerLink="/albums/{{this.user.id}}">Albums</h5>
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block" *ngFor="let album of albums | slice:0:4">
                            <div class="card">
                                <img [src]="album!.albumPhotos?.length! > 0 ? 'data:image/png;base64,' + album.albumPhotos![0].image :'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUgELpGy0OdpNxkGdW3S7QgPlY6F-cQ8Eigt3YTjFAS2pcQz4scfaeGXYK35JyDGSlLhU&usqp=CAU'" class="card-img-top" alt="Waterfall">
                            </div>
                         </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div style=" background-color: lightgray;" *ngIf = "friendshipStatus == 'friends' || friendshipStatus == 'own'" >
            <div class="row rounded">
                <app-create-post timeline={{user.id}} class="col-sm-10 offset-md-1"[whenPost]="loadPage.bind(this)"></app-create-post>
            </div>
            <app-post *ngFor="let post of posts" [post] = "post">{{post.content}}</app-post>
            <div class="d-flex align-items-center" *ngIf ="isLoading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
              </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update your Profile Picture</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <img class="card-img-top" src={{photoSrc}} class="rounded-circle"  width="100" height="110">
        <input type="file" class="form-control" id="customFile" accept="image/*" (change)="changeProfilePic($event)"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        <button type="button" class="btn btn-outline-dark" (click)="uploadImage()">Upload</button>
    </div>
</ng-template>

<ng-template #aboutMe let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update your About Me</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="AboutMe">About Me</label>
            <textarea class="form-control" id="aboutMe" rows="3" [(ngModel)]="user.aboutMe"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        <button type="button" class="btn btn-outline-dark" (click)="saveAboutMe()">Save</button>
    </div>
</ng-template>
