<div class="sidebar" id="sidebarBg">
    <div class="container" id="sidebarTitle">
        <h5>Online Friends</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-person-heart" viewBox="0 0 16 16">
            <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
        </svg>
    </div>
    <div class="container" id="online">
        <ul>
            <li *ngFor="let user of friends">
                <div class="container" id="list">
                    <i-bs name="person-circle" height="15" width="15" style="color: rgb(52, 180, 52);"></i-bs>
                    <div class="card-body">
                        <a class="card-title" routerLink="/profile/{{user.url}}">{{user.firstName}} {{user.lastName}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>