<div class="sidebar">
    <div class="container" id="sidebarTitle">
        <h4>Online Friends</h4>
    </div>
    <div class="container" id="online">
        <ul>
            <li *ngFor="let user of friends">
                <div class="container" id="list">
                    <i-bs name="person-circle" height="15" width="15"></i-bs>
                    <div class="card-body">
                        <a class="card-title" routerLink="/profile/{{user.url}}" (click)="redirect()">{{user.firstName}} {{user.lastName}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>