input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: rgb(224, 221, 170);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(224, 221, 170), rgb(224, 221, 170));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(224, 221, 170), rgb(224, 221, 170))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: rgb(224, 221, 170);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(224, 221, 170), rgb(224, 221, 170));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(224, 221, 170),rgb(224, 221, 170))
}

.mainpage {
    padding-left: 0%;
}

#middleform {
    padding-top: 50px;
    padding-bottom: 50px;
}