<div>
    <div>
        <h3>Albums</h3>
        <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Album
        </button>
        <div>
            <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGIvHApZVTLFnaQl28kwbjYJwCxSh2tMe-FyowgK5gtEQjZhQtooT2CK_0TdSFa1ZE9Tc&usqp=CAU"
                        class="card-img-top"
                        alt="Waterfall"
                        width="200" height="200"/>
                        <div class="card-body">
                            <h5 class="card-title">Album Title</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus tortor vel lectus auctor efficitur eu in orci. 
                                Donec tristique risus sit amet pulvinar volutpat. 
                            </p>
                            <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Rename Album
                            </button>
                            <div>
                                <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Delete Album
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGIvHApZVTLFnaQl28kwbjYJwCxSh2tMe-FyowgK5gtEQjZhQtooT2CK_0TdSFa1ZE9Tc&usqp=CAU"
                        class="card-img-top"
                        alt="Waterfall"
                        width="200" height="200"/>
                        <div class="card-body">
                            <h5 class="card-title">Album Title</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus tortor vel lectus auctor efficitur eu in orci. 
                                Donec tristique risus sit amet pulvinar volutpat. 
                            </p>
                            <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Rename Album
                            </button>
                            <div>
                                <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Delete Album
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGIvHApZVTLFnaQl28kwbjYJwCxSh2tMe-FyowgK5gtEQjZhQtooT2CK_0TdSFa1ZE9Tc&usqp=CAU"
                        class="card-img-top"
                        alt="Waterfall"
                        width="200" height="200"/>
                        <div class="card-body">
                            <h5 class="card-title">Album Title</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus tortor vel lectus auctor efficitur eu in orci. 
                                Donec tristique risus sit amet pulvinar volutpat. 
                            </p>
                            <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Rename Album
                            </button>
                            <div>
                                <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Delete Album
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>