input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid #ddd;
}

#backgroundColor {
    background-color: rgb(32, 50, 57);
}

#cardBackgroundColor {
    background-color: rgb(224, 221, 170);
}