.navbar {
    position: sticky;
    width: 100%;
}

#navContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#navbarPeople {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}