<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" id="navContainer">
    <div class="container-fluid" id="navMain" *ngIf="hasToken; else noToken">
      <a class="navbar-brand" routerLink="/"><i-bs name="house-door" height="30" width="30"></i-bs></a>
      <div class="navbar-nav" id="navbarPeople">
          <a class="nav-link" routerLink="/profile/{{this.profileUrl}}"><i-bs name="person-circle" height="25" width="25"></i-bs></a>
          <a class="nav-link" href="#"><i-bs name="people-fill" height="25" width="25"></i-bs></a>
      </div>
      <div class="container" id="form">
        <form class="d-flex px-5" (ngSubmit)="onSubmit()" name="myForm" #myForm="ngForm">
          <input class="form-control me-2" type="search" placeholder="Search User" name="search" [(ngModel)]="keyword">
          <button class="btn btn-outline-success" type="submit"><i-bs name="search" height="28" width="28"></i-bs></button>
        </form>
      </div>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarActions" aria-controls="navbarActions" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarActions">
        <div class="navbar-nav"> 
          <a class="nav-item" routerLink="/profile/{{this.profileUrl}}">{{this.firstName}} {{this.lastName}}</a>
        <div>
          <app-notification></app-notification>
          </div>
          <a class="nav-link" href="#"><i-bs name="gear-fill" width="25" height="25"></i-bs></a>
          <a class="nav-link" (click)="logout()"><i-bs name="power" width="25" height="25"></i-bs></a>
        </div>
      </div>
    </div>
    <ng-template #noToken>
      <a class="navbar-brand" routerLink="/register">Pastebook</a>
      <a class="nav-link" routerLink="/login" id="login">Login</a>
    </ng-template>
  </div>
</nav>