.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

#navMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

#navbarPeople {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#login {
    margin-left: auto;
    color: white;
}

i-bs {
    color: white;
}
