#bell {
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
color: #333333;
background: #f1ebeb;
border: none;
outline: none;
border-radius: 50%;
}

#bell:hover {
cursor: pointer;
}

#bell:active {
background: #cccccc;
}

.icon-button__badge {
position: absolute;
top: -3px;
right: -3px;
width: 20px;
height: 20px;
background: rgb(160, 128, 128);
color: #f0e5e5;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}

.dropdown-menu {
    margin-left: -150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

li { 
    background: rgb(150, 167, 168);
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
}


