<div class="card" id="writePost">
    <div class="card-header">
        <mat-icon>create</mat-icon>
        <p>Update Status</p>
    </div>
    <div class="card-body">
        <!-- Include route for post creation -->
      <form action="">
        <textarea class="textinput" placeholder="What's on your mind?"></textarea>
        <br/>
        <!-- To do: Verify if content is properly captured when submitted -->
        <input type="submit" value="Post" id="postButton" (click)="addPost()">
      </form>
    </div>
</div>
