#writePost {
    width: 85%;
    margin: auto;
    background-color: rgb(224, 221, 170);
    border-radius: 10px;
}

.card-header {
    display: flex;
    align-content: row;
    padding: 3px;
}

.card-header p {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: black; 
    
}

.card-header i-bs {
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.card-body {
    padding: 3px;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: auto;
    margin-bottom: 3px;
    background: rgb(238, 237, 222);
}

#postButton {
    padding: 8px 15px 6px 15px;
    border-radius: 10px;
    border-left: 15px;
    margin: 5px 15px 15px auto;
    display: block;
    position: relative;
}