<div class="card" id="writePost">
    <div class="card-header">
        <mat-icon>create</mat-icon>
        <p>Update Status</p>
    </div>
    <div class="card-body">
        <!-- Include route for post creation -->
      <form (ngSubmit)="onSubmit()">
        <textarea type="text" class="form-control" [(ngModel)]="content" name="content" placeholder="What's on your mind?"></textarea>
        <br/>
        <!-- To do: Verify if content is properly captured when submitted -->
        <button class="btn btn-primary" type="submit" id="postButton">Post</button>
      </form>
    </div>
</div>
