<div class="card" id="writePost">
    <div class="card-header">
      <i class="fa fa-edit" style="font-size:36px; color:black"></i>
      <p>Update Status</p>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" name="myForm" #myForm="ngForm">
        <textarea type="text" class="form-control" [(ngModel)]="content" name="content" placeholder="What's on your mind?"></textarea>
        <br/>
        <button class="btn btn-primary" type="submit" id="postButton">Post</button>
      </form>
    </div>
</div>
