<div>
    <div class="row rounded">
        <div class="card mb-3 col-md-8 offset-md-2 rounded p-3" style="background-color: gray;">
            <div class="card-body container p-3 rounded" style=" background-color: lightgray;">
                 <div class="row rounded" >
                     <div class = "col-sm-2">
                        
                        <img class="card-img-top"  
                        [src]="post.user?.photo?.image != null ? 'data:image/png;base64,' + post.user?.photo?.image : './assets/DefaultProfilePicture.jpg' " class="rounded-circle"  width="80" height="80" />
                    </div>
                    <div class = "col-sm-4">
                        <h4><a style='text-decoration: none;' routerLink="/profile/{{post.user?.url}}">{{ post.user?.firstName }} {{ post.user?.lastName }}</a></h4>
                    {{formattedPostTimeStamp}}
                    </div>
                    <h3 class="col-md-1" *ngIf="post?.timelineUser?.id != post?.user?.id">></h3>
                    <div class = "col-sm-3" *ngIf="post?.timelineUser?.id != post?.user?.id">
                        <h4><a style='text-decoration: none;' routerLink="/profile/{{post.timelineUser?.url}}">
                            {{ post.timelineUser?.firstName }} {{ post.timelineUser?.lastName }}
                        </a></h4>

                    </div>
                    

                 </div>
                 <div class="row rounded p-2" style=" background-color: gray; " routerLink="/posts/{{post.id}}">
                    <p class="col-sm-12">{{ post.content }}</p>
                </div>
                <div class="row">
                    <div *ngIf="isCurrentUserLiked" class = "col-sm-2 offset-md-1 row"> 
                        <!-- change color to blue after checking documentations -->
                        <i-bs name="hand-thumbs-up-fill" height="22" width="22"></i-bs>
                        <div (click)="open(content)" class="col-sm-6">
                            {{likeInformation?.like}}
                        </div>
                        
                    </div>
                    <div *ngIf="!isCurrentUserLiked" class = "col-sm-2 offset-md-1 row" >
                        <i-bs name="hand-thumbs-up" height="22" width="22" (click)="createLikeReaction()"></i-bs>
                        <div (click)="open(content)" class="col-sm-1">
                            {{likeInformation?.like}}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <i-bs name="chat-left-text" height="22" width="22"></i-bs>
                        {{comments?.length}}
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-10 offset-md-1">
                        <textarea class="textinput" placeholder="Comment" [(ngModel)]="currentComment"></textarea>
                        <br/>
                    </div>
                    <div class = "col-sm-1 offset-md-9">
                        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="createCommentReaction()">Comment</button>
                    </div>
                </div>
                <div class = "col-sm-8 offset-md-1" *ngFor="let comment of comments" > 
                    <div class = "rounded col-sm-12" style=" background-color: #95a199;"> 
                        <img class="card-img-top" [src]="comment.user?.photo?.image != null ? 'data:image/png;base64,' + comment.user?.photo?.image : './assets/DefaultProfilePicture.jpg'" class="rounded-circle"  width="50" height="50">
                        <b> <a style='text-decoration: none;' routerLink="/profile/{{comment.user?.url}}">
                            {{comment.user?.firstName}} {{comment.user?.lastName}} 
                        </a></b> 
                            {{comment.reactionTimeString}}
                        <p > {{comment.content}} </p>                      
                    </div>
                </div>
            </div>
        </div>        
    </div>  
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">People who reacted</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngFor="let liker of likeInformation?.users">
            <img class="card-img-top" [src]="liker?.photo?.image != null ? 'data:image/png;base64,' + liker?.photo?.image : './assets/DefaultProfilePicture.jpg'" class="rounded-circle"  width="50" height="50">
            <a style='text-decoration: none;' routerLink="/profile/{{liker?.url}}">
                {{liker.firstName}} {{liker.lastName}}
            </a>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>
 
