<div>
    <div class="row rounded">
        <div class="card mb-3 col-md-8 offset-md-2 rounded p-3" style="background-color: gray;">
            <div class="card-body container p-3 rounded" style=" background-color: lightgray;">
                 <div class="row rounde" >
                    <h4 class = "col-sm-3">{{ post.user?.firstName }} {{ post.user?.lastName }}</h4>
                    {{formattedPostTimeStamp}}
                 </div>
                 <div class="row rounded p-2" style=" background-color: gray; ">
                    <p class="col-sm-12">{{ post.content }}</p>
                </div>
                <div class="row">
                    <div *ngIf="isCurrentUserLiked()" class = "col-sm-1 offset-md-1"> 
                        <mat-icon  style="color: blue">thumb_up</mat-icon> 
                        {{likeInformation?.like}}
                    </div>
                    <div *ngIf="!isCurrentUserLiked()" class = "col-sm-1 offset-md-1" >
                        <mat-icon (click)="createLikeReaction()" >thumb_up</mat-icon> 
                        {{likeInformation?.like}}
                    </div>
                    <div class="col-md-2">
                        <mat-icon>comment</mat-icon>
                        {{comments?.length}}
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-10 offset-md-1">
                        <textarea class="textinput" placeholder="Comment" [(ngModel)]="currentComment"></textarea>
                        <br/>
                    </div>
                    <div class = "col-sm-1 offset-md-9">
                        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="createCommentReaction()">Comment</button>
                    </div>
                </div>
                <div class = "col-sm-8 offset-md-1" *ngFor="let comment of comments" > 
                    <div class = "rounded" style=" background-color: #95a199;"> 
                        <b> {{comment.user?.firstName}} {{comment.user?.lastName}}</b> 
                        <p > {{comment.content}} </p>                      
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
